:root {
  --header-height: 8.5rem;

  --container-padding: 3.5rem;
  
  --color-navy: #112E40;
  --color-mint: #6CD9BA;
  --color-mid-mint: #1FBF91;
  --color-dk-mint: #025949;
  --color-bg: #C8D3D9;
  --color-white: #ffffff;

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;

  --font-size-s: 0.875rem;
}