/*CSS para la top bar*/
.c-top-bar {
  background: var(--color-navy);
  color: var(--color-white);
  font-size: var(--font-size-s);
}

.c-top-bar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-s);
}

.c-top-bar__info,
.c-top-bar__social {
  display: flex;
  gap: var(--space-m);
}

.c-top-bar__link:hover {
  color: var(--color-mint);
}

.c-top-bar__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.c-top-bar--compact .c-top-bar__inner {
  padding-block: 0.25rem;
}