.c-header {
  background-color: #C8D3D9;
  padding: 1rem 2rem;
}

.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #112E40;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.c-header__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.c-header__item a {
  color:#025949;
  text-decoration: none;
  font-weight: 500;
}

.c-header__item a:hover {
  text-decoration: underline;
}
