.c-header {
  position: sticky;
  top: 3rem;
  z-index: 2500;
  padding: 1rem 2rem;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-navy);
}

.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-navy);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.c-header__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.c-header__item a {
  color:var(--color-dk-mint);
  text-decoration: none;
  font-weight: 500;
}

.c-header__item a:hover {
  text-decoration: underline;
}
