.c-feature-card {
  flex: 1;
  max-width:16rem;
  min-width: 0;
  background: #6CD9BA;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.c-feature-card__image {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.c-feature-card__body {
  padding: var(--space-s) var(--space-m);
}

.c-feature-card__title {
  font-size: 1.125rem;
}

.c-feature-card__date {
  font-size: var(--font-size-s);
}